@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

/* share styles */
.text-center {
  text-align: center;
}

/* header styles */
.header {
  padding-top: 50px;
}

.banner {
  background-image: url("../images/Banner\ Image.png");
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-bottom: 120px;
  background-blend-mode: overlay;
}

.banner-content {
  width: 632px;
  margin: 0px auto;
  padding-top: 177px;
  padding-bottom: 177px;
}

.banner-title {
  font-size: 32px;
  color: #ffffff;
  padding-bottom: 16px;
}

.banner-description {
  font-weight: bold;
  font-size: 72px;
  color: #ffffff;
}

/* hero section styles */
.hero {
  margin-bottom: 120px;
  font-family: "Inter", sans-serif;
}

.hero-title {
  color: #ff0000;
  font-weight: bold;
  font-size: 88px;
  padding-bottom: 48px;
}

.hero-sub-title {
  font-weight: 500px;
  font-size: 24px;
  color: #ff0000;
  padding-bottom: 28px;
}

.hero-description {
  color: #070211;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 36px;
}

.hero-img {
  width: 802px;
  height: 500px;
}

.hero-banner {
  background-image: url("../images/Vectorrr.png");
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-bottom: 120px;
  background-blend-mode: overlay;
}

.hero-banner-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner-title {
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
  line-height: 88px;
  letter-spacing: 11%;
  padding-bottom: 24px;
}

.hero-banner-description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #ffffff;
  opacity: 80%;
  line-height: 30px;
  padding-bottom: 48px;
}

.hero-banner-btn {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

/* address section styles */

.address {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  margin-bottom: 120px;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
}

.address-content {
  width: 549px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0px 48px;
}

.address-description {
  font-weight: 600;
  font-size: 32px;
  color: #070211;
  line-height: 56px;
}

.span {
  color: #ff0000;
}

.address-btn {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
}

/* holiday sales section styles */
.holiday-section-container {
  width: 100%;
  height: 986.07px;
  position: relative;
  margin-bottom: 120px;
}

.holiday-text-container {
  width: 1068px;
  height: 260px;
  margin: 0 auto;
  text-align: center;
}

.holiday-text-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.holiday-text-container h1 {
  color: rgb(7, 2, 17);
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}

.holiday {
  color: rgb(255, 0, 0);
}

.holiday-text-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 64px;
}

.solid-color {
  position: absolute;
  width: 100%;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background: rgb(255, 0, 0);
  top: 77%;
}

.giftbox {
  /* width: 674.82px;
  height: 577.96px; */
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.discount-img{
position: absolute;
bottom: 30%;
left: 55%;
} */

/*portfolio section styles  */
.portfolio-container {
  width: 100%;
  height: 1163px;
  margin-bottom: 80px;
}

.portfolio-container h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.portfolio-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.portfolio-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.item {
  width: 424px;
  height: 450px;
}

.item img {
  width: 100%;
  height: 100%;
}

.portfolio-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
